body{
    background-color: #C4C4C4 ;
}

header{
    background-color: #fff;
    width: 100px;
    height: 50px;
}

.card{
    background-color: #fff;
    padding :30px;
}
.card__title{
    color:#282828;
    font-size: 14px;
}

.card__description{
    color:#282828;
    font-size: 12px;
}

.card__img-top{
    width: 288px;
    height: 182px;
    margin-bottom:5px;
}

footer{
    background-color: #ffffff ;
    width: 100px;
    height: 50px;
}



